$var title: About
$var url = "/about"

<h3>Group ID : 16</h3>
<p>Fatma Aşık</p>
<p>Yasemin Bahar</p></br></br></br></br>
<!--<div class="contact">
    <form>
        <fieldset>
            <legend><h2>Contact Us</h2></legend>
             <div class="form-group">
                <input type="text"  placeholder="Name" name="firstname"></br>
                <input type="email"  id="email" placeholder="E-mail"></br>
                <form name="form" action="" method="post">
                    <textarea cols="40" rows="4" placeholder="Your Message..."></textarea>
                </form></br>
                <button type="submit" class="btn btn-default">Submit</button>
             </div>  
        </fieldset>
    </form>
</div> -->