$def with (form)

$var title: Add A Movie


<h2>Add Movie</h2>
<p class="info noprint">
<form name="main" method="post" > 
  
    <input type="submit" value="Add movie">
</form> 
</p>


<!--
	<form name="main"  enctype="multipart/form-data" method="post">                     
    $:form
     
    <input type="submit" value="Send">
</form>

<div class="col-md-9">
			<form>
                <fieldset>
                    <legend><h3>Comment of Movie</h3></legend>
					<table>
						<tr>
							<th>Username</th>
							<td>:</td>
							<td>$comment['user_name']</td>
						</tr>
						<tr>
							<th>Username</th>
							<td>:</td>
							<td>$comment['comment']</td>
						</tr>
						
					</table>
				</fieldset>
        	</form>
		</div> -->